

:root{

/* app */ 
  --app--font-family: 'Roboto';
  --app-font-size: 16px;
  --app-font-style: normal;
  --app-font-weight: 700;
  --app-line-height: normal;
  --app-height:935px;

/*  sidebar */
  --sidebar-background-color-1: #191718 ;
  --sidebar-background-color-2: #5C5C5C ;
  --sidebar-color-1: #fff;
  --sidebar-color-2: #AAA;



/* main */ 
--main-background-color: white;
--main-background-color-2: #EFEFEF;
--main-color:#000;
--main-font-size-1:18px;
}


.App{
  display: grid;
  grid-template-columns: 150px 1768px  ;
  width: 100%;
  height: var(--app-height);
}

/* * {
  outline: 1px solid blue ;
} */